{# {% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen bg-gray-700">
        <div class="text-center">
            <img src="{{ asset('images_cms/stare.png') }}" alt="Your Logo" class="mx-auto max-width logo-animation mb-6" />

            <h1 class="text-custom-green text-7xl font-bold mb-6" id="animated-title">stare-it</h1>

            <div {{ react_component('Contactus') }}></div>
        </div>
    </div>

    <style>
        /* Vos styles personnalisés peuvent être ajoutés ici si nécessaire */
        .logo-animation {
            animation: zoomIn 1s ease-in-out;
        }

        .max-width {
            max-width: 10%;
        }

        #animated-title {
            display: inline-block;
            background: linear-gradient(45deg, #9bf0db, #7F00FF, #38FF9C);
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            animation: gradientFadeIn 2s ease-in-out forwards;
        }

        @keyframes zoomIn {
            from {
                transform: scale(0);
            }
            to {
                transform: scale(1);
            }
        }

        @keyframes gradientFadeIn {
            100% {
                opacity: 0;
            }
            10% {
                opacity: 0;
            }
            100% {
                opacity: 2;
            }
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            animateTitle();
        });

        function animateTitle() {
            const title = document.getElementById("animated-title");
            const text = title.innerText;
            title.innerText = "";

            for (let i = 0; i < text.length; i++) {
                setTimeout(() => {
                    title.innerText += text[i];
                }, i * 200);
            }
        }
    </script>
{% endblock %} #}
