{% extends 'base.html.twig' %}

{% block title %}home.html.twig{% endblock %}

{% block body %}
{% if is_granted('ROLE_USER') or is_granted('ROLE_AUTEUR') or is_granted('ROLE_EDITEUR') or is_granted('ROLE_FOURNISSEUR') or is_granted('ROLE_ABONNE') or is_granted('ROLE_ADMIN') %}
                <div {{ react_component('Les_articles', {'role': app.user.roles, 'email': app.user.email}) }}></div>
            {% endif %}

{% endblock %}