@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #Visu{
    height: 100%;
    margin: 0;
    background-color: white;
  }
.App{
  width: 100vw;
  height: 100vh;
}
.break-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
}




