@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orelega+One&family=Sorts+Mill+Goudy:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat+Alternates:wght@600&family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat+Alternates:wght@600&family=Viga&display=swap");

html,
body,
#Visu {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --background-light: #f0f4f8;
  --text-light: #1a202c;
  --sidebar-background-light: #f08080;
  --body-background-light: #f8f9fa;
  --hover-color-light: #f8f9fa;
  --sidebar-text-light: rgb(0, 0, 0);
  --hover-background-color-light: #38bdf8;
  --font-family-light: "Proxima Nova", system-ui, sans-serif;

  --background-dark: #2d3748;
  --text-dark: #ffffff;
  --sidebar-background-dark: #000000;
  --body-background-dark: #343a40;
  --hover-color-dark: #000000;
  --sidebar-text-dark: #fafafa;
  --hover-background-color-dark: #f08080;
}

html,
body,
main #Visu {
  height: 100%;
  margin: 0;
  color: var(--text-light);
  font-family: var(--font-family);
}

main {
  background-color: var(--primary-color);
}

.App {
  width: 100vw;
  height: 100vh;
}

.break-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

body.light-theme {
  --background: var(--background-light);
  --text: var(--text-light);
  --sidebar-background: var(--sidebar-background-light);
  --body-background: var(--body-background-light);
  --hover-color: var(--hover-color-light);
  --sidebar-text: var(--sidebar-text-light);
  --hover-background-color: var(--hover-background-color-light);
}

body.dark-theme {
  --background: var(--background-dark);
  --text: var(--text-dark);
  --sidebar-background: var(--sidebar-background-dark);
  --body-background: var(--body-background-dark);
  --hover-color: var(--hover-color-dark);
  --sidebar-text: var(--sidebar-text-dark);
  --hover-background-color: var(--hover-background-color-dark);
}

body {
  background-color: var(--body-background);
  color: var(--text);
}

aside {
  background-color: var(--sidebar-background);
}

aside a:hover {
  color: var(--hover-color);
  background-color: var(--hover-background-color);
}

.dark {
  --background: var(--background-dark);
  --text: var(--text-dark);
  --sidebar-background: var(--sidebar-background-dark);
  --body-background: var(--body-background-dark);
  --hover-color: var(--hover-color-dark);
  --sidebar-text: var(--sidebar-text-dark);
  --hover-background-color: var(--hover-background-color-dark);
  --font-family: "Montserrat", sans-serif;
  --text: var(--text-dark);
}

.dark {
  color: #caa500;
  background-color: #464646;
}
input::placeholder {
  color: red;
}
.theme1 {
  background-color: #c1aaff;
  color: rgb(60, 0, 128);
  font-family: "Montserrat Alternates", sans-serif;
}

.forest {
  background-color: #95d3c2;
  color: #004912;
  font-family: "Orelega One", serif;
  font-weight: 200;
  font-style: normal;
}

.sidebar-icon {
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
}
