{% extends 'base.html.twig' %}

{% block title %}Merci à vous!!{% endblock %}

{% block body %}
    <div class="flex items-center justify-center h-screen">
        <div class="text-center">
            <h1 class="text-4xl font-bold mb-4">Merci pour votre message !</h1>
            <p class="text-lg">Nous avons bien reçu votre message.</p>
        </div>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = "http://localhost:8000/lesarticles";
        }, 3000); 
    </script>
{% endblock %}
